@font-face {
    font-family: 'MyFont';
    src: url('./JustAnotherHand-Regular.ttf') format('truetype');
      
    font-weight: 600;
    font-style: normal;
  }

.hello {
    color: red;
    font-family: 'MyFont';
    font-size: 40px;
    background: url('./icon.png');
  }
